@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {

}

h1 {

}

#nav {
    background-color: #9D202E;
    text-decoration-color: white;
}
#nav >menu:hover{
    color:blue
    text-decoration: none;
}
#header{
    display:flex;
    align-items:flex-center;
    padding: 20px;
    margin: 20px;
}

#logo{
    align-items:flex-start;
    padding: 20px;
    margin: 20px;
    width: 33%;
}
#name{
    padding: 20px;
    margin: 20px;
    width: 33%;
}
#search input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 12px;
    align-items:flex-end;
    width: 33%;
}


#carousel-innner {
    background-color: #E4E9ED;
    display:flex;
    border: 10px solid;
    height: 10vh;
    align-items: flex-start;
    padding:20px;
    margin:20px;
}
#carousel > img{
    width: 1030px;
    height: 300px;
}

#carousel-inner a href{
    text-align: center;
    text-decoration-color: #C2858D;
}

#middle{
    display:flex;
    border: 10px solid white;
    height: 50vh;
    align-items: flex-center;
    padding: 20px;
    margin-top: 25px;
    margin: 20px;
}

#funding{
    padding:20px;
    margin:20px; 
}

#funding-left{
    width: 50%;
}

funding-right{
    width: 50%;
}

#events{
    background-color: #3398CC;
    padding:20px;
    margin:20px;
}
#events-left{
    text-decoration-color: #95A77D;
    width: 25%;
}
#events-right{
    text-decoration-color: white;
    width: 75%;
}

#bottom {
    background-color: #3398CC;
    display:flex;
    align-items: flex-center;
    padding:20px;
    margin:20px;
}
#contact {
    color: grey;
    background-image: url("map.jpg");
    width: 33%;
    margin:20px;
    padding: 20px;
}
#contact p{
    text-decoration-color: white;
}
#links{
    width: 33%;
    padding: 10px;
    margin: 10px;
}
#links a{
    text-decoration-color: white;
}
#social{
    display:flex;
    height: 10vh;
    align-items: flex-start;
    width: 33%;
    padding: 10px;
    margin: 10px;
}
#footer {
    background-color: #185766;
    padding: 20px;
    margin: 20px;
    text-align: center;
}