@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {

}

h1 {

}

#nav {
    background-color: red;
    text-decoration-color: white;
}
#nav >menu:hover{
    color:blue
    text-decoration: none;
}
#header{
    display:flex;
    align-items:flex-center;
    padding: 20px;
    margin: 20px;
}

#logo{
    align-items:flex-start;
    padding: 20px;
    margin: 20px;
}
#name{
    padding: 20px;
    margin: 20px;
}
#search input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 12px;
    align-items:flex-end;
}


#carousel-innner {
    background-color: light grey;
    display:flex;
    border: 10px solid;
    height: 10vh;
    align-items: flex-start;
    padding:20px;
    margin:20px;
}
#carousel > img{
    width: 1030px;
    height: 300px;
}

#carousel-inner a href{
    text-align: center;
    text-decoration-color: red;
}

#middle{
    display:flex;
    border: 10px solid white;
    height: 50vh;
    align-items: flex-center;
    padding: 20px;
    margin-top: 25px;
    margin: 20px;
}

#events{
    background-color: blue;
    padding:20px;
    margin:20px;
}
#bottom {
    background-color: blue;
    display:flex;
    align-items: flex-center;
    padding:20px;
    margin:20px;
}
#contact {
    color: grey;
    background-image: url("map.jpg");
    width: 33%;
    margin:20px;
    padding: 20px;
}
#contact p{
    text-decoration-color: white;
}
#links{
    width: 33%;
    padding: 20px;
    margin: 20px;
}
#links a{
    text-decoration-color: white;
}
#social{
    display:flex;
    height: 10vh;
    align-items: flex-start;
    width: 33%;
    padding: 20px;
    margin: 20px;
}
#footer {
    background-color: green;
    padding: 20px;
    margin: 20px;
    text-align: center;
}