body {

}

h1 {

}

#nav {
    background-color: red;
}

#banner {
background-color: light grey;
}
#middle{
    display:flex;
    border 10px solid white;
    height: 400vh;
    align-items: flex-start;
}

#events{
    background-color: blue;
}
#bottom {
    background-color: blue;
    display:flex;
}
#contact {
    color: grey;
}
#footer {
    background-color: green;
}